main{
    margin-left: 20px;
    margin-right: 20px;
}

body{
    margin: 0;
    background-color: rgb(211, 217, 222);
    
}

h1{
    text-align: center;
}

 ul {
    list-style-type:none;
    background-color: rgb(80, 80, 80);
    margin: 0;
    overflow: hidden;   
    padding:0;
    display: flex;
    justify-content: space-evenly;
   
}

 a{
    color: rgb(212, 209, 209);
    text-decoration: none;
   padding: 15px;
    display: block;
    text-align: center;
    
}
 

li{
    float:left;
    
}


.navbar a:hover{
    background-color: rgb(22, 22, 22);  
}

